<style>

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #18453B;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
        color: #fdfbfa;
        font-family: 'Merriweather', serif;
        font-size: 18px;
    }

    li a:hover {
    background-color: #266b5b;
    }


    body {
        margin: 0;
    }

</style>

<nav>
    <ul>
    <!-- signed in -->
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Reading List", scripts_path) %></li>
      <li><%= link_to("Formats", departments_path) %></li>
      <li><%= link_to("Add a Script", new_script_path) %></li>
      <li><%= link_to("Add a Format", new_department_path) %></li>

      <li><%= link_to("Log Out", destroy_user_session_path )%></li>
        <!--signed out-->
      <li><%= link_to("Log In", new_user_session_path) %> </li>
      <li><%= link_to("Sign Up", new_user_registration_path ) %> </li>

    </ul>
  </nav>