<!DOCTYPE html>
<html>
  <head>
    <title>Green Light</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<%= render 'layouts/nav' %>
  <div class="row">
    <div class="column side"></div>
    <div class="column middle">
<%= render 'layouts/errors' %>
  
        <%= yield %>
    </div>
    <div class="column side"></div>

  </body>
</html>
